$transitionAnimation: .3s ease;

@define-mixin fillButton $fillColor {
  background-color: $fillColor;
  border-color: $fillColor;
}

@define-mixin fillBasicButton $borderColor, $colorHover:#fff {
  background-color: transparent;
  color: $borderColor;

  &:hover:not(.ui-button--disabled, .ui-button--loading) {
    background-color: $borderColor;
    color: $colorHover;
    border-color: $borderColor;
  }
  &.ui-button--loading::after {
    color: $borderColor;
  }
}

@define-mixin setColorButton $main, $hover, $disabled {
  @mixin fillButton $main;

  &:hover:not(.ui-button--disabled, .ui-button--loading, .ui-button--basic) {
    @mixin fillButton $hover;
  }
  &.ui-button--loading {
    @mixin fillButton $main;
  }
  &.ui-button--disabled {
    @mixin fillButton $disabled;

    &.ui-button--basic {
      color: $disabled;

      &.ui-button--loading::after {
        color: $disabled;
      }
    }
  }
  &.ui-button--basic {
    @mixin fillBasicButton $main;
  }
}

.ui-button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  height: 36px;
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  text-shadow: none;
  text-indent: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  letter-spacing: .02em;
  text-align: center;
  word-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  transition:
    opacity $transitionAnimation,
    background-color $transitionAnimation,
    color $transitionAnimation,
    box-shadow $transitionAnimation,
    background $transitionAnimation,
    -webkit-box-shadow $transitionAnimation;

  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .18);
  }
  &--disabled:hover,
  &--loading:hover,
  &--basic:hover,
  &--default:hover {
    box-shadow: none;
  }
  &--loading {
    color: transparent !important;
    cursor: default;
    position: relative;

    &::after {
      content: "\f110";
      animation: icon-loading 2s linear infinite;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 16px;
      height: 16px;
      margin-top: -9px;
      margin-left: -9px;
      font-family: Icons;
      font-weight: 400;
      color: #fff;
    }
  }
  &--disabled {
    cursor: default;
  }
  &--primary {
    @mixin setColorButton $blue, $blue__hover, $blue__disabled;
  }
  &--secondary {
    @mixin setColorButton $teal, $teal__hover, $teal__disabled;
  }
  &--default {
    color: $blue;

    @mixin setColorButton $grey, $grey__hover, $grey__disabled;

    &:hover {
      color: $steel;
    }
    &.ui-button--disabled {
      color: $silver;
    }
    &.ui-button--loading {
      &::after {
        border-color: $blue;
      }
    }
  }
  &--green {
    @mixin setColorButton $green, $green__hover, $green__disabled;
  }
  &--red {
    @mixin setColorButton $red, $red__hover, $red__disabled;
  }
  &--big {
    padding: 14px 23px;
    height: 48px;
  }
  &--inverted {
    /* TODO: Когда будут все стили кнопок - надо переписать красиво */

    &.ui-button--primary {
      @mixin fillButton #1187f9;

      &:hover:not(.ui-button--disabled):not(.ui-button--loading):not(.ui-button--basic) {
        box-shadow: none;

        @mixin fillButton #2e96fa;
      }
      &.ui-button--disabled {
        color: $silver;
        border-color: #294f6d;
        background-color: #294f6d;
      }
    }
    &.ui-button--basic {
      color: #fff;
      border-color: #a5afb8;

      &:hover:not(.ui-button--disabled, .ui-button--loading) {
        color: $graphite;

        @mixin fillButton #d7dde2;
      }
      &.ui-button--disabled {
        color: #637889;
        border-color: #294f6d;
      }
    }
    &.ui-button--green {
      &.ui-button--disabled {
        color: $silver;

        @mixin fillButton #407759;
      }
      &.ui-button--basic {
        border-color: #31a95c;

        @mixin fillBasicButton $green;

        &:hover:not(.ui-button--disabled, .ui-button--loading) {
          color: #fff;

          @mixin fillButton $green;
        }
        &.ui-button--disabled {
          color: #407759;
          border-color: #407759;
        }
      }
    }
  }
  .icon {
    padding-right: 0;
    margin-right: 5px;
    width: auto;
    font-size: 11px;
    vertical-align: top;
    line-height: 18px;
  }
}
