/*
 * https://www.figma.com/file/qMezLwJn7RUX3cqHoMpHiq/Colours?node-id=2%3A27
 */
$regularColor: #1c76cc;
$regularHoverColor: #2380da;
$regularDisabledColor: #8ebbe6;
$regularLoadingColor: #1c76cc;

$actionColor: #00bebe;
$actionHoverColor: #21c6c5;
$actionDisabledColor: #80dfdf;
$actionLoadingColor: #00bebe;

$serviceColor: #f2f2f2;
$serviceHoverColor: #eaebed;
$serviceDisabledColor: #f7f7f7;
$serviceLoadingColor: #f2f2f2;

$subscriptionPositiveColor: #36c55f;
$subscriptionPositiveHoverColor: #36c55f;
$subscriptionPositiveDisabledColor: #86dc9f;
$subscriptionPositiveLoadingColor: #36c55f;

$subscriptionNegativeColor: #fd334b;
$subscriptionNegativeHoverColor: #fd334b;
$subscriptionNegativeDisabledColor: #ff8492;
$subscriptionNegativeLoadingColor: #fd334b;

$mainTextColor: #0a1b2a;
$addText1Color: #1e384e;
$addText2Color: #637889;
$borderColor: #b2bed0;
$separatorColor: #d4d4d5;
$blocksBackgroundColor: #fafafa;
$selectedBlockColor: #fff6d4;

$tags50Color: #36c55f;
$tags80Color: #edbc2f;
$tags100Color: #fd334b;
$tagsEmptyColor: #999;

$ratingHigh3Color: #004f5a;
$ratingHigh2Color: #007020;
$ratingHigh1Color: #3a9754;
$rating5Color: #66b47c;
$rating4Color: #99c95d;
$rating3Color: #fac718;
$rating2Color: #f48e1f;
$rating1Color: #f05f3a;
$ratingLowColor: #cb4747;
$ratingLow2Color: #b60000;
$ratingLow3Color: #790909;
