.color {
	&-item {
		display: flex;
		padding: 8px 0;
		align-items: center;

		&__fill {
			width: 48px;
			height: 24px;
			border-radius: 3px;
		}
		&__text {
			font-size: 14px;
			line-height: 17px;
			padding-left: 15px;
		}
	}
}
